{% from macros import embed %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Face Detection</title>
        <link rel="stylesheet" href="faces/static/css/base.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        {{ bokeh_css | indent(8) }}
        {{ bokeh_js | indent(8) }}
  </head>
  <body>
    <div class="bg-dark">
      <div id="container-fluid">
        <div class="col">
          <div class="col-lg-8">
            <h2 class="m-2 text-light">
              Bore plot example
            </h2>
            <h4 class="m-2 text-light">
              Instructions
            </h4>
            <p class="mx-2 text-light">
              The plot below allows for the filtering of the Victorian boreholes through various properties. 
              Each property can be filtered individually by first clicking the "Inactive" button to make them "Active" and then modifying the range as desired.
              
              The toolbar to the right of the plot 
              The map supports both box zooming (dragging a box over the map) as well as wheel zooming (using the scroll wheel).
              You can use the scroll wheel on the axis to manipulate the aspect ratio.
              
            </p>
          </div>
          <div class="col-lg-8">
            <div class="my-2">
              {{ embed(roots.layout) | indent(10) }}
            </div>
          </div>
        </div>
      </div>
    {{ plot_script | indent(8) }}
    </div>
  </body>
</html>
