{% from macros import embed %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Face Detection</title>
        <link rel="stylesheet" href="faces/static/css/base.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        {{ bokeh_css | indent(8) }}
        {{ bokeh_js | indent(8) }}
  </head>
  <body>
    <div class="bg-light">
      <div id="container-fluid">
        <div class="col">
          <div class="col-lg-8">
            <h2 class="m-2 text-dark">
              Bore plot example
            </h2>
            <hr>
            <h4 class="m-2 text-dark">
              Instructions
            </h4>
            <p class="mx-2 text-dark">
              The plot below allows for the filtering of the Victorian boreholes through various properties. <br>
              Each property can be filtered individually by first clicking the "Inactive" button to make them "Active" and then modifying the range as desired. <br>
              <br>
              The toolbar on the right of the plot displays the available tools and allows the user to turn them on and off as desired.<br>
              Going down from the top we have:<br>
              Pan tool: Click and drag to move the map around.<br>
              Box zoom: Click and drag to form a box to zoom the map into. <br>
              Wheel zoom: Scroll on the map to zoom in or out. Scroll on either axis to manipulate the aspect ratio.<br>
              Tap tool: Click on a borehole to open up the borehole profile in another tab.<br>
              Reset: Reset the map to the original view.<br>
              Hover tool: Shows the variables as you hover over each borehole.
            </p>
          </div>
          <div class="col-lg-8">
            <div class="my-2">
              {{ embed(roots.layout) | indent(10) }}
            </div>
          </div>
        </div>
      </div>
    {{ plot_script | indent(8) }}
    </div>
  </body>
</html>
